<app-header></app-header>

<main>
  <ul id="users">
    <!-- das Wort "user" ist frei wählbar,
    aber das Wort "users" aber nicht -->
    
    @for (user of users; track user.id) {
      <li>
        <app-user 
          [user]="user"
          (select)="onSelectUser($event)" />
      </li>
    }    
    <!-- <li>
      <app-user [id]="users[2].id" [avatar]="users[2].avatar" [name]="users[2].name" />
    </li> -->
  </ul>

  <app-tasks [name]="selectedUser ? selectedUser.name : '' " />

</main>