<app-header></app-header>

<main>
  <ul id="users">
    <!-- das Wort "user" ist frei wählbar,
    aber das Wort "users" aber nicht -->

    @for (user of users; track user.id) {
    <li>
      <app-user  [user]="user" [selected]="user.id ===selectedUserId" (select)="onSelectUser($event)" />
    </li>
    }
    <!-- <li>
      <app-user [id]="users[2].id" [avatar]="users[2].avatar" [name]="users[2].name" />
    </li> -->
  </ul>

  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" 
              [name]="selectedUser.name" />
  } @else {
  <p id="fallback">Select a User plz to see their Tasks</p>
  }

</main>